.toggler-container{
    color: orange;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
}